<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	<bean id="ownerDao" class="src.rutina.app.OwnerDaoImpl" >
   		<property name="dataSource" ref="dataSource"></property>
   </bean>
	<bean id="rutinaDao" class="src.rutina.app.RutinaDaoImpl" >
   		<property name="dataSource" ref="dataSource"></property>
   </bean>
   <bean id="ejercicioDao" class="src.rutina.app.EjercicioDaoImpl" >
   		<property name="dataSource" ref="dataSource"></property>
   </bean>
     <bean id="ejerciciosderutinaDao" class="src.rutina.app.EjerciciosDeRutinaDaoImpl" >
   		<property name="dataSource" ref="dataSource"></property>
   </bean>
</beans>

